@font-face {
  font-family: typewriter;
  src: url(https://ctrlcctrlv.github.io/TT2020/dist/TT2020Base-Regular.woff2);
}

body {
  font-family: typewriter;
  margin: auto;
  max-width: 800px;
  color: #333;
  background-color: #eee;
}

h1,
h2 {
  text-align: center;
}

section {
  padding: 0px 10px 5px 10px;
}

footer {
  text-align: center;
}

a {
  color: #333;
}
