@font-face {
  font-family: ebgaramond;
  src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}

body {
  font-family: Garamond, ebgaramond, serif;
  margin: auto;
  max-width: 800px;
  color: #333;
  background-color: #eee;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  font-size: 52px;
}

h2 {
  margin-bottom: 30px;
  font-size: 16px;
}

section {
  padding: 0px 20px 5px 20px;
  line-height: 110%;
  font-size: 18px;
}

footer {
  margin: 20px;
  text-align: center;
}

a {
  color: #333;
}

img {
  width: 100%;
  max-width: 200px;
}

figure {
  margin-left: 0px;
}
