:root {
  --image-size: 200px;
}

@font-face {
  font-family: ebgaramond;
  src: url(fonts/EBGaramond-VariableFont_wght.ttf);
  font-weight: 100 900;
}

body {
  font-family: Garamond, "EB Garamond", ebgaramond, serif;
  margin: auto;
  max-width: 800px;
  color: #333;
  background-color: #eee;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  font-size: 52px;
}

h2 {
  margin-bottom: 30px;
  font-size: 16px;
}

section {
  padding: 0px 20px 5px 20px;
  line-height: 110%;
  font-size: 18px;
}

footer {
  margin: 20px;
  text-align: center;
}

a {
  color: #333;
}

figure {
  width: var(--image-size);
  height: var(--image-size);
  margin: 0px 10px 0px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
}

figure:hover {
  border: 1px solid #777;
}

img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  object-position: top;
}

@media only screen and (max-width: 500px) {
  p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  figure {
    width: 97%;
    margin: 0px 0px 10px 0px;
  }

  img {
    width: 100%;
  }
}
